html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
/* Header section styling */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 5px;
}
/* Navigation bar container */
#a2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .625rem;
  width: 100%;
  box-sizing: border-box;

  border-bottom: .1875rem;
  box-shadow: 0rem .4375rem .625rem rgb(77, 185, 149);
  gap: 3.75;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}
#a2 img {
  margin-left: 2.5rem;
}

#a2 p {
  font-size: .9625rem;
  border: none;
  margin: 0 auto;
  text-align: center;
  word-spacing: 1.225rem;
}

/* Left-side icons group styling */
.icons-left {
  display: flex;
  gap: .9375rem;
  margin-right: 4.8125rem;
}
#a2 i {
  color: black;
  font-size: 1.25rem;
}
#a3 {
  display: block;
  text-align: right;
  margin-top: 4.375rem;
  margin-right: 3.125rem;
}
#b {
  display: flex;
  justify-content: space-between;
  background-image: url(bg.png);
  flex-direction: row-reverse;
  background-size: cover;
  background-position: center;
  height: 600px;
}

div p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: .75rem;
  word-spacing: .125rem;
  line-height: 1.5;
}
div button {
  border: solid   #008f7a;
  padding: .652rem;
  background-color:  #008f7a;
  cursor: pointer;
}

.b1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: .3125rem;
}

.box {
  width: 20.625rem;
  margin-top: 6.25rem;
  box-shadow: 0rem 0rem .125rem .1875rem rgb(77, 185, 149);
  border-radius: .125rem;
}
.box p {
  text-align: center;
}
.box h3 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.box i {
  color: rgb(77, 185, 149);
  font-size: 3.125rem;
  padding-top: .9375rem;
  margin-left: 8rem;
}
#a5 {
  flex: 1;
  max-width: 50%;
 
  
}
#a5 img{
 
  margin-left: 1.875rem;
  width: 100%;
  
}
#bb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0rem;
  
}

#aa2 h1:first-of-type {
  margin-bottom: 0rem; 
  margin-left: 3.252rem;
  line-height: 1.2; 
  margin-top: 9.375rem;
  font-size: 3.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

#aa2 h1:last-of-type {
  font-size: 3.75rem;
  margin-top: 0rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(77, 185, 149); 
  margin-bottom: 5.625rem;
  margin-left: 3.125rem;
}

#aa2 p.ph{
  margin-top: 15rem;
  width: auto;
  width: 180%;
  margin: 0 auto;
  color: black;
  text-align: justify;
  word-spacing: .75rem;
  margin-left: 3.100rem;
  line-height: 1.5;
  font-size: .875rem;
}

/* تخصيص باقي العناصر في #a6 */
#a6 {
  flex: 1;
  max-width: 50%;
  padding: 0;
  text-align: justify;
  margin-left: 0rem;
  
}
#a6 h1{
  margin-left: 2.375rem;
}

.para{
  margin-top: .625rem;
  margin-left: 1.875rem;
  margin-right: 1.25rem;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  word-spacing: .1875rem;
  
  font-size: .875rem;
}
.button1{
  margin-left: 3.125rem;
}
.button2{
  margin-left: 2.5rem;
}

.books-container {
  display: flex;
  gap: 1.25rem;
  overflow-x: auto;
  white-space: nowrap;
  padding: .625rem;
  margin: 1.25rem;
  
}
.books-container {
  scrollbar-color: #3c7a8d #f1f1f1; 
  scrollbar-width: thin; 
}


.books-container::-webkit-scrollbar {
  width: .5rem; 
  height: .5rem; 
}

.books-container::-webkit-scrollbar-thumb {
  background-color: #007bff; /* لون شريط التمرير */
  border-radius: .625rem; /* حواف مستديرة */
}

.books-container::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* لون أغمق عند التمرير */
}

.books-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* لون خلفية شريط التمرير */
  border-radius: .625rem; /* حواف مستديرة للخلفية */
}
html::-webkit-scrollbar {
  width: .625rem;
}

html::-webkit-scrollbar-thumb {
  background-color: #3b6695;
  border-radius: .3125rem;
}

html::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

.book-card {
  border: 1px solid rgba(78, 77, 78, 0.704);
  text-align: center;
  width: 12.5rem;
  padding: .625rem;

  flex-shrink: 0;
}

.book-card img {
  width: 100%;
  height: auto;
}

.book-card h1 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: .3125rem 0rem;
}

.book-card p {
  font-size: .75rem;
  color: rgb(148, 148, 148);
  margin: .1875rem 0rem;
  line-height: 1.2;
}

.book-card h3 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: .3125rem 0rem;
}

.book-card .old-price {
  text-decoration: line-through;
  font-size: .75rem;
  color: black;
  margin-left: .3125rem;
  vertical-align: -0.20rem;
  font-weight: normal;
}
.book-card p:nth-last-of-type(2) {
  color: rgb(78, 203, 203);
}

.book-card button {
  margin-top: .3125rem;
  padding: .3125rem .625rem;
  background-color: white;
  border: .125rem solid rgb(16, 153, 163);
  color: black;
  cursor: pointer;
}
.book-card:hover {
  box-shadow: 0px 0px .125rem 0.0625rem rgb(7, 188, 149);
}
.Arrivals2 {
  display: flex; 
  gap: 1.25rem; 
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .625rem;
  margin: 1.25rem;
}
.Arrivals {
  display: flex; 
  gap: 1.75rem; 
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .625rem;
  margin: 1.25rem;
}


.bookk {
  border: 0.0625rem solid rgba(78, 77, 78, 0.704);
  text-align: center;
  width: 12.5rem; 
  padding: 1.875rem;
 
  flex-shrink: 0rem; 
}

.bookk img {
  margin-top: -10%;
  width: 90%; 
  height: auto;
}

.bookk h1 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: .3125rem 0rem;
  
}
.bookk button {
  margin-top: .3125rem;
  padding: .3125rem .625rem;
  background-color: white;
  border: .125rem solid rgb(16, 153, 163);
  color: black;
  cursor: pointer;
}
.bookk:hover{
  box-shadow: 0rem 0rem .125rem 0.0625rem rgb(7, 188, 149);

  
}
.Arrivals i,.Arrivals2 i,.bookk i{
  color: rgb(10, 176, 151);

}
.bookk {
  overflow: hidden; 
}

.bookk img {
  width: 70%; 
  transition: transform 0.3s ease; 
}
.bookk:hover img {
  transform: scale(1.05); 
}
.Arrivals a{
text-decoration: none;
color: inherit;
}
.Arrivals2 a{
text-decoration: none;
color: inherit;
}
.e {
  display: flex;
  background-color: #f3efef;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.end, .aend, .bend, .cend, .dend {
  flex: 1;
  text-align: center;
  padding: .625rem;
}

#review-container {
  padding: 0 1.875rem;
  display: flex;
  width: 96%;
  margin-top: .3125rem;
  flex-direction: row;
  align-items: stretch;
  gap: 1.1875rem;
  
}

.box2 {
  
  flex: 1;
  padding: 0;
  margin: 0;
  width: 19.375rem;
  height: 18.75rem;
  margin-top: 6.25rem;
  box-shadow: 0rem 0rem .375rem 0.0625rem rgb(77, 185, 149);
  border-radius: .125rem;
}
.box2 i {
  color: rgb(77, 185, 149);
  font-size: .9375rem;
  margin-bottom: 3.125rem;
}
.box2 img {
  width: 20%;
  /* height: auto;*/
  border-radius: 50%;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

.box2 p {
  margin: 0;
  padding: 0;
  text-align: justify;
  margin-right: auto;
  width: 90%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: .95rem;
  word-spacing: .125rem;
  line-height: 1.5;
  margin-left: 1.25rem;
}

#aa {
  width: 20%;
  /* height: auto;*/
  font-size: 5rem;
  margin-left: 9.375rem;
  color: rgb(235, 231, 231);
}
.box2 h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1.25rem;
  margin-top: -3.125rem;
}

.img_banner {
  padding-top: 4.375rem;
  width: 1510px;
  height: 370px;
}
.b_learn_more {
  background-color: #089a9a;
  margin-top: -6.25;
  border-color: #089a9a;
  color: white;
  padding: .25rem .9375rem;
  margin-left: 6.25rem;
  position: relative;
  transform: translateY(-390%);
}


#blog-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .125rem; 
  margin-top: 1.25rem;
  padding: 0 2.8125rem; 
  overflow: visible;
}

.box3 {
  width: 450px; 
  box-shadow: 0rem .25rem  .625rem rgba(76, 82, 80, 0.1); 
  border-radius: .5rem .5rem 0 0; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  padding: 0; 
  position: relative;
  box-sizing: border-box;
  background-color: #fff; 
  border: .1875rem solid rgb(213, 216, 215);
}

.box3 img {
  width: 100%; 
  height: 15.625rem; 
  object-fit: cover; 
  border-radius: .5rem .5rem  0 0; 
}


.box3 h3 {
  font-size: 1.5625rem;
 
  color: rgb(77, 185, 149);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: .9375rem 1.25rem .625rem; 
  margin-bottom: 0rem;
}

.box3 p {
  margin: 0 1.25rem .9375rem; 
  font-size: .875rem;
  line-height: 1.6; 
  text-align: justify;
  margin-bottom: 0.0625rem;
}

.box3 .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .625rem 1.25rem;
  padding-top: 0rem;
  
}

.box3 .icons i {
  color: rgb(77, 185, 149);
  font-size: 1.125rem;
}


.bend ul, .aend ul {
  
  list-style: none;
  margin: 0;
  padding: 0; 
}
ul li{
  
  margin-bottom: .625rem;
}


.aend, .bend {
  text-align: left;
}

.aend h2, .bend h2 {
  text-align: left; 
  margin-bottom: .625rem;
  padding-left: .625rem; 
}

.aend ul, .bend ul {
 
  text-align: left; 
  padding-left: .625rem; 
  margin: 0; 
}

.toop {
  margin-top: 1.825rem;
  margin-left: 1.875rem !important; 
  word-spacing: .1875rem; 
  text-align: justify; 
  text-align-last: justify; 
  line-height: 1.8; 
  margin: 0 auto; 
}
.aend{
  margin-left: 5.625rem;
  margin-bottom: 1.5625rem;
}
.dend {
  text-align: left; 
 

}
.aend h2,.bend h2,.cend h2,.dend h2 {
  margin-bottom: 1.875rem;
}
.e img{
  margin-bottom: 1.875rem;
}


.input-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: .625rem; 
  margin-top: .625rem; 
}

.input-group input {
  width: 200px;
  padding: .625rem; 
  border: 0.0625rem solid #ccc; 
  border-radius: 1.25rem; 
  height: .625rem;
  background-color: #e1d7d7;
}
.bend p{
  margin-bottom: 0;
}
.input-group button {
  width: 8.125rem; 
  padding: .625rem 1.25rem; 
  background-color:  #008f7a; 
  color: white; 
  border: none; 
  border-radius: 1.25rem; 
  cursor: pointer; 
  text-align: center; 
}
.se{
  display: flex;
  gap: .625rem;
  align-items: center;
  justify-content: center;
}
.se i{
  margin-right: .625rem;
  cursor: pointer;
}
.dend , .aend , .bend , .cend {
  font-family: Arial, Helvetica, sans-serif;
}
#a6 h1{
  font-family: Arial, Helvetica, sans-serif;
}

.link{
  color: black;
  text-decoration: none;
}
.welcom{
  margin-bottom: .1875rem;
}
.bookpp{
  margin-top:0;

}










